test/data/*
!test/data/download.sh
deployments/network-*

# generic files and folder exclude
*.exe
*.dll
*.so
*.dylib
*.test
*.out
.glide/
*.o
*.a
_obj
_test
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.prof
*.iml
*.cov
*.gob
.DS_Store
.idea/
.vscode/
coverage.txt
