location /pgadmin {
    set $upstream_host pg-admin;
    proxy_pass http://$upstream_host;
    proxy_set_header X-Script-Name /pgadmin;
    proxy_redirect http://$upstream_host/pgadmin /pgadmin;
}

location /i2b2 {
    set $upstream_host i2b2;
    proxy_pass http://$upstream_host:8080;
}

location /local-3nodes/medco-0 {
    include /etc/nginx/conf.d/common/cors.inc;
    set $upstream_host medco-connector-srv0;
    rewrite /local-3nodes/medco-0/(.*) /medco/$1 break;
    proxy_pass http://$upstream_host:1999;
}

location /local-3nodes/medco-1 {
    include /etc/nginx/conf.d/common/cors.inc;
    set $upstream_host medco-connector-srv1;
    rewrite /local-3nodes/medco-1/(.*) /medco/$1 break;
    proxy_pass http://$upstream_host:1999;
}

location /local-3nodes/medco-2 {
    include /etc/nginx/conf.d/common/cors.inc;
    set $upstream_host medco-connector-srv2;
    rewrite /local-3nodes/medco-2/(.*) /medco/$1 break;
    proxy_pass http://$upstream_host:1999;
}
