<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <script src="static/js/jquery.min.js" defer></script>
    <script src="static/js/bootstrap.min.js" defer></script>
    <script type="text/javascript" src="static/js/loadingPage.js" defer></script>
</head>
<body>
   <p>LALAL</p>
   <button id="s" type="button" class="btn btn-default">
       <span class="glyphicon glyphicon-envelope"></span> Star
   </button>
</body>
</html>